/* -- general styles -- */

* {
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

a:active {
  color: #ffffff;
  text-decoration: none;
}

p {
  color: #ffffff;
  font-family: sans-serif;
}

.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}

.background {
  background: no-repeat center center;
  width: 100%;
  min-height: 100%; /* for mobile and tablets */
  background-size: cover;
  padding: 25px;
  position: absolute;
}

/* -- layout [**MOBILE**] (see mq-tab.css && mq-desk.css for tablet/desktop layouts -- */

.grid {
  display: grid;
  grid-template-columns: minmax(100px, 200px), minmax(50px);
  grid-template-rows: repeat(15, 1fr);
}


.grid div {
  display: flex;
  align-items: center;
}

.gmail {
  grid-row-start: 2;
  grid-row-end: 3;
  column-row-start: 1;
  column-row-end: 2;
}

.gmail-text {
  grid-row-start: 2;
  grid-row-end: 3;
  column-row-start: 2;
  column-row-end: 3;
  transform: translateX(-0.6em) translateY(0.4em);
}

.tw {
  grid-row-start: 2;
  grid-row-end: 3;
  column-row-start: 1;
  column-row-end: 2;
  transform: translateX(1.6em) translateY(1.2em);
}

.tw-text {
  grid-row-start: 2;
  grid-row-end: 3;
  column-row-start: 2;
  column-row-end: 3;
  transform: translateX(0.9em) translateY(0.5em);
}

.fb {
  grid-row-start: 3;
  grid-row-end: 4;
  column-row-start: 1;
  column-row-end: 2;
  transform: translateX(-1.5em) translateY(-0.4em);
}

.fb-text {
  grid-row-start: 3;
  grid-row-end: 4;
  column-row-start: 2;
  column-row-end: 3;
  transform: translateX(-2.1em) translateY(-0.6em);
}