<div class="background">
    <div class="grid">
        <div class="gmail">
            <a href="mailto:raarlabel@gmail.com">
                <img class="gm-img" src="images/icons/webloc.png" alt="">
            </a>
        </div>

        <div class="gmail-text">
            <a href="mailto:raarlabel@gmail.com">Boîte de réception (5) - raarlabel@gmail.com - Gmail</a>
        </div>

        <div class="tw">
            <a href="https://twitter.com/LabelRaar" target="_blank">
                <img src="images/icons/at.png" alt="">
            </a>
        </div>

        <div class="tw-text">
            <a href="https://twitter.com/LabelRaar" target="_blank">RAAR Label (@LabelRAAR) | twitter</a>
        </div>

        <div class="fb">
            <a href="https://www.facebook.com/RAAR.FR/" target="_blank">
                <img src="images/icons/at.png" alt="">
            </a>
        </div>

        <div class="fb-text">
            <a href="https://www.facebook.com/RAAR.FR/" target="_blank">RAAR Label | facebook</a>
        </div>


        <div class="vinyl">
            <a href="https://www.kompakt.fm/releases/raar004" target="_blank">
                <img src="images/icons/webloc.png" alt="">
            </a>
        </div>

        <div class="vinyl-text">
            <a href="https://www.kompakt.fm/releases/raar004" target="_blank">ORDER ¬ Vinyl | Factory RAAR04</a>
        </div>


        <div class="digital">
            <a href="https://boomkat.com/products/raar004" target="_blank">
                <img src="images/icons/webloc.png" alt="">
            </a>
        </div>

        <div class="digital-text">
            <a href="https://boomkat.com/products/raar004" target="_blank">ORDER ¬ Digital | Factory RAAR04</a>
        </div>


        <div class="code">
            <a href="">
                <img src="images/icons/terminal.png" alt="">
            </a>
        </div>

        <div class="code-text text-wrap">
            <p>wwwCode%45%72%73%6f%6e%20%52%79%62%6f%64</p>
        </div>

        <div class="releases">
            <a href="https://drive.google.com/drive/folders/0B9oYyOHIB2ftV191VnVMUy1sdVE" target="_blank">
                <img src="images/icons/at.png" alt="">
            </a>
        </div>

        <div class="rel-text">
            <a href="https://drive.google.com/drive/folders/0B9oYyOHIB2ftV191VnVMUy1sdVE" target="_blank">ReleaseDownload</a>
        </div>

        <div class="paypal">
            <a href="https://www.paypal.com/donate/?token=DZPlYUGTxBM2xdhZvaQZM7g3qT4tEE0yyzvoO4j9Ajq60Ch9ApF-pmvqclBnx2gcLKq0M0&country.x=FR&locale.x=FR"
                target="_blank">
                <img src="images/icons/webloc.png" alt="">
            </a>
        </div>

        <div class="pay-text text-wrap">
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=raarlabel%40gmail.com&amp;lc=FR&amp;item_name=RAAR%20LABEL&amp;no_note=1&amp;no_shipping=1&amp;rm=1&amp;return=http%3a%2f%2fwww.raar.fr&amp;cancel_return=http%3a%2f%2fwww.raar.fr&amp;currency_code=EUR&amp;bn=PP-DonationsBF%3abtn_donateCC_LG.gif%3aNonHosted"
                target="_blank">PAYPAL__donations&business=raarlabef.html</a>
        </div>

        <div class="logo">
            <a href="https://datatransmission.co/wp-content/uploads/2015/09/RAAR-logo-1.jpeg" target="_blank">
                <img src="images/icons/raar.jpg" alt="">
            </a>
        </div>

        <div class="logo-text">
            <a href="https://datatransmission.co/wp-content/uploads/2015/09/RAAR-logo-1.jpeg" target="_blank">
                visual.png
            </a>
        </div>

        <div class="abt">
            <a href="/label">
                <img src="images/icons/rtf.png" alt="">
            </a>
        </div>

        <div class="abt-text">
            <a href="https://datatransmissionclear.co/wp-content/uploads/2015/09/RAAR-logo-1.jpeg" target="_blank">RAAR.rtf</a>
        </div>
    </div>
</div>