<div class="background" id="p5">
  <div class="grid">
    <div class="gmail">
      <a href="">
          <img src="images/icons/webloc.png" alt="">
      </a>
    </div>

    <div class="gmail-text">
      <p>Boîte de réception (5) - raarlabel@gmail.com - Gmail</p>
    </div>

    <div class="tw">
      <a href="">
          <img src="images/icons/at.png" alt="">
      </a>
    </div>

    <div class="tw-text">
      <p>RAAR Label (@LabelRAAR) | twitter</p>
    </div>

    <div class="fb">
      <a href="">
          <img src="images/icons/at.png" alt="">
      </a>
    </div>

    <div class="fb-text">
      <p>RAAR Label | facebook</p>
    </div>

    <div class="vinyl">
      <a href="">
          <img src="images/icons/webloc.png" alt="">
      </a>
    </div>

    <div class="vinyl-text">
      <p>ORDER ¬ Vinyl | Factory RAAR04</p>
    </div>

    <div class="digital">
      <a href="">
          <img src="images/icons/webloc.png" alt="">
      </a>
    </div>

    <div class="digital-text">
      <p>ORDER ¬ Digital | Factory RAAR04</p>
    </div>


    <div class="code">
      <a href="">
          <img src="images/icons/terminal.png" alt=""> 
      </a>
    </div>

    <div class="code-text text-wrap">
      <p>wwwCode%45%72%73%6f%6e%20%52%79%62%6f%64</p>
    </div>

    <div class="releases">
      <a href="">
          <img src="images/icons/at.png" alt="">
      </a>
    </div>

    <div class="rel-text">
      <p>ReleaseDownload</p>
    </div>

    <div class="paypal">
      <a href="">
          <img src="images/icons/webloc.png" alt="">
      </a>
    </div>

    <div class="pay-text text-wrap">
      <p>PAYPAL__donations&business=raarlabef.html</p>
    </div>

    <div class="logo">
      <a href="">
            <img src="images/icons/raar.jpg" alt="">
        </a>
    </div>

    <div class="logo-text">
      <p>visual.png</p>
    </div>

    <div class="abt">
      <a href="">
          <img src="images/icons/rtf.png" alt="">
      </a>
    </div>

    <div class="abt-text">
      <p>RAAR.rtf</p>
    </div>
  </div>
</div>