@media screen and (min-width: 60em) {
  .grid {
    grid-template-columns: repeat(8, minmax(100px, 200px));
    grid-template-rows: repeat(10, 1fr);
  }

  .gmail {
    grid-row-start: 2;
    /* autoprefixer: off */
    grid-row-end: 3;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(2em) translateY(0);
    justify-content: left;
  }

  .gmail-text {
    grid-row-start: 2;
    /* autoprefixer: off */
    grid-row-end: 3;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(8.1em) translateY(0.5em);
  }

  .tw {
    grid-row-start: 3;
    /* autoprefixer: off */
    grid-row-end: 4;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(4.1em) translateY(2em);
  }

  .tw-text {
    grid-row-start: 3;
    /* autoprefixer: off */
    grid-row-end: 4;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(11.4em) translateY(2em);
  }

  .fb {
    grid-row-start: 4;
    /* autoprefixer: off */
    grid-row-end: 5;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(-0.3em) translateY(0.1em);
  }

  .fb-text {
    grid-row-start: 4;
    /* autoprefixer: off */
    grid-row-end: 5;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(6.9em) translateY(-0.4em);
  }

  .insta {
    grid-row-start: 5;
    /* autoprefixer: off */
    grid-row-end: 6;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(3.1em) translateY(-1.4em);
  }

  .insta-text {
    grid-row-start: 5;
    /* autoprefixer: off */
    grid-row-end: 6;
    grid-column-start: 2;
    /* autoprefixer: off */
    grid-column-end: 3;
    transform: translateX(10.2em) translateY(-1.6em);
  }

  /*
  .digital {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
    transform: translateX(5.3em) translateY(-1.8em);
  }
 
  .digital-text {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5;
    transform: translateX(11.3em) translateY(-1.8em);
  }
  */

  .code {
    grid-row-start: 7;
    /* autoprefixer: off */
    grid-row-end: 8;
    grid-column-start: 5;
    /* autoprefixer: off */
    grid-column-end: 6;
    transform: translateX(-0.3em) translateY(-0.6em);
  }

  .code-text {
    grid-row-start: 7;
    /* autoprefixer: off */
    grid-row-end: 8;
    grid-column-start: 6;
    /* autoprefixer: off */
    grid-column-end: 7;
    transform: translateX(-5.4em) translateY(-0.4em);
  }

  .releases {
    grid-row-start: 2;
    /* autoprefixer: off */
    grid-row-end: 3;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(-9.1em) translateY(2.8em);
  }

  .rel-text {
    grid-row-start: 2;
    /* autoprefixer: off */
    grid-row-end: 3;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(-2.1em) translateY(2.4em);
  }

  .paypal {
    grid-row-start: 3;
    /* autoprefixer: off */
    grid-row-end: 4;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(-0.3em) translateY(2.3em);
  }

  .pay-text {
    grid-row-start: 3;
    /* autoprefixer: off */
    grid-row-end: 4;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(6.9em) translateY(2.1em);
  }

  .logo {
    grid-row-start: 5;
    /* autoprefixer: off */
    grid-row-end: 6;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(-0.4em) translateY(2.3em);
  }

  .logo-text {
    grid-row-start: 5;
    /* autoprefixer: off */
    grid-row-end: 6;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(6.6em) translateY(2.3em);
  }

  .abt {
    grid-row-start: 4;
    /* autoprefixer: off */
    grid-row-end: 5;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(1.8em) translateY(4.4em);
  }

  .abt-text {
    grid-row-start: 4;
    /* autoprefixer: off */
    grid-row-end: 5;
    grid-column-start: 7;
    /* autoprefixer: off */
    grid-column-end: 8;
    transform: translateX(8.9em) translateY(3.9em);
  }

  .shop {
    grid-row-start: 3;
    /* autoprefixer: off */
    grid-row-end: 4;
    grid-column-start: 4;
    width: 84px;
    /* autoprefixer: off */
    grid-column-end: 5;
    transform: translateX(3.6em) translateY(-0.7em);
  }

  .shop-text {
    grid-row-start: 3;
    /* autoprefixer: off */
    grid-row-end: 4;
    grid-column-start: 5;
    /* autoprefixer: off */
    grid-column-end: 6;
    transform: translateX(-1.9em) translateY(-0.3em);
  }

  .obiblanche {
    grid-row-start: 5;
    /* autoprefixer: off */
    grid-row-end: 6;
    grid-column-start: 4;
    /* autoprefixer: off */
    grid-column-end: 5;
    transform: translateX(2.3em) translateY(-0.2em);
  }

  .obiblanche-text {
    grid-row-start: 5;
    /* autoprefixer: off */
    grid-row-end: 6;
    grid-column-start: 4;
    /* autoprefixer: off */
    grid-column-end: 5;
    transform: translateX(9.5em) translateY(-0.1em);
  }
}
