#mc_embed_signup {
    display: flex;
    justify-content: center;
    height: 70vh; 
    align-items: center;
}

 #mc_embed_signup_scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.button {
    margin: 2em;
}
