<div id="video">
    <iframe id="iframe" src="https://player.vimeo.com/video/183144171" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div id="obi00_0" class="section"></div>
<div id="obi00" class="section"></div>
<div id="obi01" class="section"></div>
<div id="obi02" class="section"></div>
<div id="obi03" class="section"></div>
<div id="obi04" class="section"></div>
<div id="obi05" class="section"></div>
<div id="obi06" class="section"></div>
<div id="obi07" class="section"></div>
<div id="obi08" class="section"></div>
<div id="obi09" class="section"></div>
<div id="obi10" class="section"></div>
<div id="obi11" class="section"></div>
<div id="obi12" class="section"></div>
<div id="obi13" class="section"></div>
<div id="obi14" class="section"></div>
<div id="obi15" class="section"></div>
<div id="obi16" class="section"></div>
<div id="obi17" class="section"></div>
<div id="obi18" class="section"></div>
<div id="obi19" class="section"></div>
<div id="obi20" class="section"></div>
<div id="obi21" class="section"></div>
<div id="obi22" class="section"></div>
<div id="obi23" class="section"></div>
<div id="obi24" class="section"></div>
<div id="obi25" class="section"></div>