<!-- <div id="video">
    <iframe id="iframe" src="https://player.vimeo.com/video/183144171" width="640" height="360" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe>
</div> -->

<div id="obi00_00" class="artist-info">
    <div class="content obi">
        <div class="ep">
            <h1>Obi Blanche
                <span class="it">Uncanny, Unseasonal EP</span>
                <span class="subhead">with photographic zine</span>
            </h1>
            <p class="ep-bio">
                Star Wars never meant anything to me. Uncanny, Unseasonal is a diary of someone's life which could be a fantasy, a true audiobiographical
                piece that tastes the best when relished together with photographs. The images, blurring the lines between
                documentative and staged photography, are spiced up with music carved from same wood: the roar is tangible,
                the execution intuitive and raw. Tension in the air turns the situation exiting. We breath from that excitement.

            </p>
        </div>

        <div class="bio">
            <h3>About the artist</h3>

            <p>
                Jimi Tenor is my mother and Andy McCoy my father. We didn’t have many instruments home, but we loved to listen to music from
                a turntable while watching projected slideshows. One day there was a MS-20 in the house, Jimi got it from
                a hypersensitive individual who realized that he had an allergy towards computer screens and wanted to join
                the roaming circus. He sold the MS-20 for peanuts. I loved that little synth. Andy didn’t care, he was only
                interested in guitars and a rock’n’roll lifestyle.
            </p>

            <p>
                Jimi’s bugaboo filled with raunchy speakers rolling through Lahti, the business city, inspired me and I started to discover
                my own music. First hip-hop beats and scratching. I destroyed our rusty poor turntable but luckily my grandmother
                got me a proper Technics one. I went through all electronic music genres, always with a soft spot for how
                gritty the old Mr.Oizo sounded.
            </p>

            <p>
                Electronic music was lonely and I wanted to experience band life. I learned to play some guitar, but not the way Andy played
                it. I was more interested in dissonance and advanced tunings. We toured the world. When I was travelling
                my father told me to document the life on the road. I started snapshotting: it was exciting. I met a lot
                of eccentric people, many were part of the roaming circus but I never met the bald wizard again who sold
                the synth in the first place. I hope he’s happy and that electromagnetic allergy is not a burden anymore.
            </p>

            <p>
                Exhibiting pictures in Berlin was a new field, it started a new phase. Went back on the road, this time photographing, really
                fell in love with Los Angeles. Now music and photographs complement each other. I’m also starting to create
                an allergy towards computers. Let’s see where the circus takes me next.
            </p>

            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//http://api.soundcloud.com/playlists/228141502%3Fsecret_token%3Ds-CM4B2&amp;color=%23ff5500&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
        </div>
    </div>
</div>
<div id="obi00_0" class="section">
    <img class="mobile-zine" src='/images/obi/obi00_0.jpg' alt="obizine">
</div>
<div id="obi00" class="section">
    <img class="mobile-zine" src='/images/obi/obi00.jpg' alt="obizine">
</div>
<div id="obi01" class="section">
    <img class="mobile-zine" src='/images/obi/obi01.jpg' alt="obizine">
</div>
<div id="obi02" class="section">
    <img class="mobile-zine" src='/images/obi/obi02.jpg' alt="obizine">
</div>
<div id="obi03" class="section">
    <img class="mobile-zine" src='/images/obi/obi03.jpg' alt="obizine">
</div>
<div id="obi04" class="section">
    <img class="mobile-zine" src='/images/obi/obi04.jpg' alt="obizine">
</div>
<div id="obi05" class="section">
    <img class="mobile-zine" src='/images/obi/obi05.jpg' alt="obizine">
</div>
<div id="obi06" class="section">
    <img class="mobile-zine" src='/images/obi/obi06.jpg' alt="obizine">
</div>
<div id="obi07" class="section">
    <img class="mobile-zine" src='/images/obi/obi07.jpg' alt="obizine">
</div>
<div id="obi08" class="section">
    <img class="mobile-zine" src='/images/obi/obi08.jpg' alt="obizine">
</div>
<div id="obi09" class="section">
    <img class="mobile-zine" src='/images/obi/obi09.jpg' alt="obizine">
</div>
<div id="obi10" class="section">
    <img class="mobile-zine" src='/images/obi/obi10.jpg' alt="obizine">
</div>
<div id="obi11" class="section">
    <img class="mobile-zine" src='/images/obi/obi11.jpg' alt="obizine">
</div>
<div id="obi12" class="section">
    <img class="mobile-zine" src='/images/obi/obi12.jpg' alt="obizine">
</div>
<div id="obi13" class="section">
    <img class="mobile-zine" src='/images/obi/obi13.jpg' alt="obizine">
</div>
<div id="obi14" class="section">
    <img class="mobile-zine" src='/images/obi/obi14.jpg' alt="obizine">
</div>
<div id="obi15" class="section">
    <img class="mobile-zine" src='/images/obi/obi15.jpg' alt="obizine">
</div>
<div id="obi16" class="section">
    <img class="mobile-zine" src='/images/obi/obi16.jpg' alt="obizine">
</div>
<div id="obi17" class="section">
    <img class="mobile-zine" src='/images/obi/obi17.jpg' alt="obizine">
</div>
<div id="obi18" class="section">
    <img class="mobile-zine" src='/images/obi/obi18.jpg' alt="obizine">
</div>
<div id="obi19" class="section">
    <img class="mobile-zine" src='/images/obi/obi19.jpg' alt="obizine">
</div>
<div id="obi20" class="section">
    <img class="mobile-zine" src='/images/obi/obi20.jpg' alt="obizine">
</div>
<div id="obi21" class="section">
    <img class="mobile-zine" src='/images/obi/obi21.jpg' alt="obizine">
</div>
<div id="obi22" class="section">
    <img class="mobile-zine" src='/images/obi/obi22.jpg' alt="obizine">
</div>
<div id="obi23" class="section">
    <img class="mobile-zine" src='/images/obi/obi23.jpg' alt="obizine">
</div>
<div id="obi24" class="section">
    <img class="mobile-zine" src='/images/obi/obi24.jpg' alt="obizine">
</div>
<div id="obi25" class="section">
    <img class="mobile-zine" src='/images/obi/obi25.png' alt="obizine">
</div>