<div id="video">
    <iframe id="iframe" src="https://player.vimeo.com/video/183144171" width="640" height="360" frameborder="0" webkitallowfullscreen
        mozallowfullscreen allowfullscreen></iframe>
</div>

<div id="obi00_00" class="section">
    <div class="content obi">
        <h1>Obi Blanche - Uncanny, Unseasonal</h1>
        <p>
            Star Wars never meant anything to me. Uncanny, Unseasonal is a diary of someone's life which could be a fantasy, a true audiobiographical
            piece that tastes the best when relished together with photographs. The images, blurring the lines between documentative
            and staged photography, are spiced up with music carved from same wood: the roar is tangible, the execution intuitive
            and raw. Tension in the air turns the situation exiting. We breath from that excitement.

        </p>

        <h3>About the artist</h3>
        <p>
            Jimi Tenor is my mother and Andy McCoy father. We didn’t have many instruments home, but we loved to listen to music from
            a turntable while watching projected slideshows. One day there was a MS-20 in the house, Jimi got it from a hypersensitive
            individual who realized that he had an allergy towards computer screens and wanted to join the roaming circus.
            He sold the MS-20 for peanuts. I loved that little synth. Andy didn’t care, he was only interested towards guitars
            and rock’n’roll lifestyle.
        </p>

        <p>
            Jimi’s bugaboo filled with raunchy speakers rolling through Lahti, the business city, inspired me and I started to discover
            my own music. First hip hop beats and scratching. I destroyed our rusty poor turntable but luckily my grandmother
            got me a proper Technics one. I went through all electronic music genres, always having a soft spot for how gritty
            the old Mr.Oizo sounded.
        </p>

        <p>
            Electronic music was lonely and I wanted to experience band life. I learned to play some guitar, but not the way Andy played
            it. I was more interested in dissonance and advanced tunings. We toured the world. When I was travelling my father
            told me to document the life on the road. I started snapshotting: it was exciting. I met a lot of eccentric people,
            many were part of the roaming circus but I never met the bald wizard again who sold the synth in the first place.
            I hope he’s happy and that electromagnetic allergy is not a burden anymore.
        </p>

        <p>
            Exhibiting pictures in Berlin was a new field, it started a new phase. Went back on the road, this time photographing, really
            fell in love with Los Angeles. Now music and photographs complement each other. I’m also starting to create an
            allergy towards computers. Let’s see where the circus takes me next...
        </p>
    </div>
</div>
<div id="obi00_0" class="section"></div>
<div id="obi00" class="section"></div>
<div id="obi01" class="section"></div>
<div id="obi02" class="section"></div>
<div id="obi03" class="section"></div>
<div id="obi04" class="section"></div>
<div id="obi05" class="section"></div>
<div id="obi06" class="section"></div>
<div id="obi07" class="section"></div>
<div id="obi08" class="section"></div>
<div id="obi09" class="section"></div>
<div id="obi10" class="section"></div>
<div id="obi11" class="section"></div>
<div id="obi12" class="section"></div>
<div id="obi13" class="section"></div>
<div id="obi14" class="section"></div>
<div id="obi15" class="section"></div>
<div id="obi16" class="section"></div>
<div id="obi17" class="section"></div>
<div id="obi18" class="section"></div>
<div id="obi19" class="section"></div>
<div id="obi20" class="section"></div>
<div id="obi21" class="section"></div>
<div id="obi22" class="section"></div>
<div id="obi23" class="section"></div>
<div id="obi24" class="section"></div>
<div id="obi25" class="section"></div>